# Do not track pyc files
*.pyc

# Do not track emacs backupfiles
*~

# Do not track pyment patch files
*.patch

# Do not track setup.py build files
build/
dist/
pyemto.egg-info/

# Do not track Cython generated C code
pyemto/c/c_lattice.c
*.so

# Do not track VIM backup files
\#*\#

# Do not track VIM swap files
*.swp

# (neo)vim files
.vim
*.nvimlog
